// Absolute position extend
%posAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Background image styles
%backgroundImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// Heading 2
%heading2 {
    font-size: 45px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 80px;
}